@page "/names"
@using BlazorApp.Shared
@using Microsoft.AspNetCore.Authorization

@inject HttpClient Http
@attribute [Authorize]

<h3>Names</h3>

@if (names == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var name in names)
            {
                <tr>
                    <td>@name.Id</td>
                    <td>@name.Field</td>
                </tr>
            }
        </tbody>
    </table>
}
<a class="btn btn-primary" @onclick=@ClickHandler>Roles</a>
<ul>
    @foreach(var role in roles)
    {
        <li>@role.Item1 : @role.Item2</li>
    }
</ul>


@code {
    [CascadingParameter] private Task<AuthenticationState>? authenticationStateTask { get; set; } 

    private NameEntity[] names = new NameEntity[] { };
    private (string, string)[] roles = new (string, string)[] { };
    protected override async Task OnInitializedAsync()
    {
        try
        {
            names= await Http.GetFromJsonAsync<NameEntity[]>("/api/names") ?? new NameEntity[] { };
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }

    protected async Task ClickHandler(MouseEventArgs e)
    {
        if (authenticationStateTask is null) return;
        var authState = await authenticationStateTask;
        roles = authState.User.Claims.Select(c => (c.Value.ToString(), c.Type.ToString())).ToArray();
        StateHasChanged();
    }
}
